@import "./../base/colors.scss";

.accounts {
  list-style-type: none;
  padding-left: 0;

  &__item {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;

    .fa-github {
      color: $color-github;
    }

    .fa-twitter {
      color: $color-twitter;
    }

    .fa-instagram {
      color: $color-instagram;
    }

    .fa-linkedin {
      color: $color-linkedin;
    }
  }

  &__icon {
    margin-right: 8px;
    font-size: 2rem !important;
  }

  &__link {
    margin-left: 4px;
  }
}
