.wrapper {
  width: auto;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 16px;

  @media (min-width: 600px) {
    width: $content-width;
    padding: 0;
  }
}
