@import "./../base/colors.scss";

.posts {
  border-bottom: 1px solid $color-primary-200;

  a {
    color: $color-primary-500;

    &:hover {
      text-decoration: none;
    }
  }

  &__link {
    display: block;
    padding: 16px 8px;

    &:hover {
      background: $color-primary-100;
    }
  }

  &__title {
    font-weight: 500;
  }

  &__date {
    color: $color-primary-400;
  }

  &__excerpt {
    margin-top: 8px;
  }
}
