@import "./../base/colors.scss";

.post {
  p {
    margin-top: 24px;
  }

  h2 {
    font-size: 2.8rem;
    border-bottom: 1px solid $color-primary-300;
    padding-bottom: 8px;
  }

  h3 {
    font-size: 2.4rem;
    margin: 32px 0 8px;
  }

  blockquote {
    font-style: italic;
    font-size: 1.5rem;
    border-left: 4px solid $color-primary-300;
    margin: 0;
    padding: 8px 16px;
    margin-top: 24px;

    p {
      margin-top: 0;
    }
  }

  &__title,
  &__date {
    margin: 0 !important;
  }

  &__date {
    font-size: 1.4rem;
  }
}
