@import "./../base/colors.scss";

.social-media-logos {
  display: grid;
  grid-template-columns: repeat(4, 20px);
  justify-content: center;
  align-items: center;
  grid-column-gap: 16px;
  list-style-type: none;
  padding: 0;

  &__link {
    color: $color-primary-500;
    font-size: 1.8rem;

    &:hover {
      color: $color-primary-400;
    }
  }
}
