@import "./../base/colors.scss";

.social-media-logos {
  display: grid;
  grid-template-columns: repeat(4, 32px);
  justify-content: center;
  align-items: center;
  grid-column-gap: 16px;
  list-style-type: none;
  padding: 0;

  &__link {
    color: $color-primary-500;
    display: flex;
    justify-content: center;

    &:hover {
      .fa-github {
        color: $color-github;
      }

      .fa-twitter {
        color: $color-twitter;
      }

      .fa-instagram {
        color: $color-instagram;
      }

      .fa-linkedin {
        color: $color-linkedin;
      }
    }
  }

  .logo-icon {
    font-size: 22px;
  }
}
