.toggler-mode {
  background: none;
  border: none;
  outline: none;

  &__image {
    width: 28px;
    height: auto;
    cursor: pointer;
  }

  i {
    transition: color 0.2s ease-out, background 0.2s ease-out;
    cursor: pointer;
  }

  .fa-moon-o {
    color: #feef5f;
  }

  .fa-sun-o {
    color: #ffa400;
  }
}
