@import "base/normalize.css";
@import "base/variables.scss";
@import "base/colors.scss";
@import "components/layout.scss";
@import "components/header.scss";
@import "components/nav.scss";
@import "components/main.scss";
@import "components/footer.scss";
@import "components/about.scss";
@import "components/posts.scss";
@import "components/post.scss";
@import "components/contact.scss";

html {
  font-size: 62.5%;
}

body {
  font-family: $font;
  font-size: 1.6em;
  line-height: 1.6;
  color: $color-primary-500;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

h1 {
  font-size: 2.8rem;
  margin-bottom: 24px;
}

h2 {
  font-size: 2.4rem;
  margin: 48px 0 8px;
}

ul {
  list-style-type: disc;
  line-height: 32px;
}

a {
  color: $color-info-700;
  box-shadow: none;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

img {
  max-width: 100%;
  height: auto;
}
