@import "base/normalize.css";
@import "base/variables.scss";
@import "base/colors.scss";
@import "components/layout.scss";
@import "components/header.scss";
@import "components/nav.scss";
@import "components/main.scss";
@import "components/footer.scss";
@import "components/about.scss";
@import "components/posts.scss";
@import "components/post.scss";
@import "components/contact.scss";
@import "components/accounts.scss";
@import "components/social-media-logos.scss";
@import "plugins/prism.scss";
@import "plugins/prism-atom-dark.scss";
@import "mode/dark.scss";
@import "components/toggler.scss";

@font-face {
  font-family: "Pacifico";
  font-style: normal;
  font-weight: 400;
  src: local("Pacifico Regular"), local("Pacifico-Regular"),
    url(https://fonts.gstatic.com/s/pacifico/v12/FwZY7-Qmy14u9lezJ-6H6MmBp0u-.woff2)
      format("woff2");
  font-display: swap;
}

html {
  font-size: 62.5%;
}

body {
  font-family: $font;
  font-size: 1.6em;
  line-height: 1.6;
  color: $color-primary-500;
  // -webkit-font-smoothing: antialiased;
  --anchorLink: #3273dc;
  --navbarBackground: whitesmoke;
  --navbarColor: #363636;
  --bg: #ffffff;
  --textColor: #222;
  --inlineCode-bg: #f0da4f33;
  --inlineCode-text: inherit;
  --boxShadow1: rgba(0, 0, 0, 0.13);
  --boxShadow2: rgba(0, 0, 0, 0.19);
  background-color: var(--bg);
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

h1 {
  font-size: 2.8rem;
  margin-bottom: 24px;
}

h2 {
  font-size: 2.4rem;
  margin: 48px 0 8px;
}

ul {
  list-style-type: disc;
  line-height: 36px;
  padding-left: 16px;
}

a {
  color: $color-info-600;
  box-shadow: none;
  text-decoration: none;
  font-weight: 600;

  &:hover {
    text-decoration: underline;
  }
}

img {
  max-width: 100%;
  height: auto;
}
