@import "base/normalize.css";
@import "base/variables.scss";
@import "components/layout.scss";
@import "components/header.scss";
@import "components/nav.scss";

body {
  font-family: $font;
  line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
li {
  margin: 0;
}

ul {
  list-style-type: none;
}

a {
  box-shadow: none;
}
