$color-primary-100: #f5f5f5;
$color-primary-200: #ececec;
$color-primary-300: #c6c6c6;
$color-primary-400: #8e8e8e;
$color-primary-500: #444;
$color-primary-600: #3a3132;
$color-primary-700: #302224;
$color-primary-800: #27151a;
$color-primary-900: #200d13;
$color-primary-transparent-100: rgba(68, 68, 68, 0.08);
$color-primary-transparent-200: rgba(68, 68, 68, 0.16);
$color-primary-transparent-300: rgba(68, 68, 68, 0.24);
$color-primary-transparent-400: rgba(68, 68, 68, 0.32);
$color-primary-transparent-500: rgba(68, 68, 68, 0.4);
$color-primary-transparent-600: rgba(68, 68, 68, 0.48);
$color-success-100: #e6fbd6;
$color-success-200: #c8f7af;
$color-success-300: #9ee883;
$color-success-400: #74d260;
$color-success-500: #3fb532;
$color-success-600: #269b24;
$color-success-700: #19821f;
$color-success-800: #0f681c;
$color-success-900: #09561a;
$color-success-transparent-100: rgba(63, 181, 50, 0.08);
$color-success-transparent-200: rgba(63, 181, 50, 0.16);
$color-success-transparent-300: rgba(63, 181, 50, 0.24);
$color-success-transparent-400: rgba(63, 181, 50, 0.32);
$color-success-transparent-500: rgba(63, 181, 50, 0.4);
$color-success-transparent-600: rgba(63, 181, 50, 0.48);
$color-info-100: #cef2fe;
$color-info-200: #9de0fe;
$color-info-300: #6cc9fe;
$color-info-400: #48b2fd;
$color-info-500: #0c8cfc;
$color-info-600: #086cd8;
$color-info-700: #0651b5;
$color-info-800: #033992;
$color-info-900: #022878;
$color-info-transparent-100: rgba(12, 140, 252, 0.08);
$color-info-transparent-200: rgba(12, 140, 252, 0.16);
$color-info-transparent-300: rgba(12, 140, 252, 0.24);
$color-info-transparent-400: rgba(12, 140, 252, 0.32);
$color-info-transparent-500: rgba(12, 140, 252, 0.4);
$color-info-transparent-600: rgba(12, 140, 252, 0.48);
$color-warning-100: #fdf7cb;
$color-warning-200: #fced98;
$color-warning-300: #f7de64;
$color-warning-400: #efcc3d;
$color-warning-500: #e5b402;
$color-warning-600: #c49601;
$color-warning-700: #a47a01;
$color-warning-800: #845f00;
$color-warning-900: #6d4c00;
$color-warning-transparent-100: rgba(229, 180, 2, 0.08);
$color-warning-transparent-200: rgba(229, 180, 2, 0.16);
$color-warning-transparent-300: rgba(229, 180, 2, 0.24);
$color-warning-transparent-400: rgba(229, 180, 2, 0.32);
$color-warning-transparent-500: rgba(229, 180, 2, 0.4);
$color-warning-transparent-600: rgba(229, 180, 2, 0.48);
$color-danger-100: #ffe9d5;
$color-danger-200: #ffceab;
$color-danger-300: #ffac81;
$color-danger-400: #ff8c61;
$color-danger-500: #ff572d;
$color-danger-600: #db3820;
$color-danger-700: #b71e16;
$color-danger-800: #930e11;
$color-danger-900: #7a0813;
$color-danger-transparent-100: rgba(255, 87, 45, 0.08);
$color-danger-transparent-200: rgba(255, 87, 45, 0.16);
$color-danger-transparent-300: rgba(255, 87, 45, 0.24);
$color-danger-transparent-400: rgba(255, 87, 45, 0.32);
$color-danger-transparent-500: rgba(255, 87, 45, 0.4);
$color-danger-transparent-600: rgba(255, 87, 45, 0.48);
